{#
/**
 * @file
 * Default theme implementation for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 *
 * @see template_preprocess_views_style_yummy_red_gallery()
 */
#}          
          <div class="swiper-slide" role="group" aria-label="4 / 8" data-swiper-slide-index="3" style="width: 207.2px; margin-right: 20px;"><a class="glightbox" data-gallery="images-gallery" href="C:\xampp\htdocs\YummyRed\web\themes\custom\yummyred\images\gallery"><img src="{{row.url}}" 
          class="img-fluid" alt=""></a>
          dump({{row.url}});
          </div>
            


          {# <div class="swiper-slide" role="group" aria-label="5 / 8" data-swiper-slide-index="4" style="width: 207.2px; margin-right: 20px;"><a class="glightbox" data-gallery="images-gallery" href="assets/img/gallery/gallery-5.jpg"><img src="assets/img/gallery/gallery-5.jpg" class="img-fluid" alt=""></a>
          </div> #}
          {# <div class="swiper-slide" role="group" aria-label="6 / 8" data-swiper-slide-index="5" style="width: 207.2px; margin-right: 20px;"><a class="glightbox" data-gallery="images-gallery" href="assets/img/gallery/gallery-6.jpg"><img src="assets/img/gallery/gallery-6.jpg" class="img-fluid" alt=""></a>
          </div>
          <div class="swiper-slide" role="group" aria-label="7 / 8" data-swiper-slide-index="6" style="width: 207.2px; margin-right: 20px;"><a class="glightbox" data-gallery="images-gallery" href="assets/img/gallery/gallery-7.jpg"><img src="assets/img/gallery/gallery-7.jpg" class="img-fluid" alt=""></a>
          </div>
          <div class="swiper-slide swiper-slide-prev" role="group" aria-label="8 / 8" data-swiper-slide-index="7" style="width: 207.2px; margin-right: 20px;"><a class="glightbox" data-gallery="images-gallery" href="assets/img/gallery/gallery-8.jpg"><img src="assets/img/gallery/gallery-8.jpg" class="img-fluid" alt=""></a>
          </div>
          <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 8" data-swiper-slide-index="0" style="width: 207.2px; margin-right: 20px;"><a class="glightbox" data-gallery="images-gallery" href="assets/img/gallery/gallery-1.jpg"><img src="assets/img/gallery/gallery-1.jpg" class="img-fluid" alt=""></a>
          </div>
          <div class="swiper-slide swiper-slide-next" role="group" aria-label="2 / 8" data-swiper-slide-index="1" style="width: 207.2px; margin-right: 20px;"><a class="glightbox" data-gallery="images-gallery" href="assets/img/gallery/gallery-2.jpg"><img src="assets/img/gallery/gallery-2.jpg" class="img-fluid" alt=""></a>
          </div>
          <div class="swiper-slide" role="group" aria-label="3 / 8" data-swiper-slide-index="2" style="width: 207.2px; margin-right: 20px;"><a class="glightbox" data-gallery="images-gallery" href="assets/img/gallery/gallery-3.jpg"><img src="assets/img/gallery/gallery-3.jpg" class="img-fluid" alt=""></a>
          </div>#}
          </div> 